body{
    background-color: black;
}
h1{
    text-transform: uppercase;
    font-size: 3rem;
}
.poster{
    text-align: center;
    color:white;
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
    font-family: "Libre Baskerville", serif;
  
}
.Picture{
    border: 10px solid white;
  width: 80%;
  height: 820px;

}